<footer class=footer>
  <h1 aria-hidden=false>Site Footer</h1>
  <ul class=social>
    {% if site.github_username %}
    <li class=github>
      <a href="https://github.com/{{ site.github_username }}">
        {% include github-icon.svg %}
        <span aria-hidden=false>GitHub Profile:</span>
        <span class="username">{{ site.github_username }}</span></a></li>
    {% endif %}
    {% if site.twitter_username %}
    <li class=twitter>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        {% include twitter-icon.svg %}
        <span aria-hidden=false>Twitter Profile:</span>
        <span class="username">{{ site.twitter_username }}</span></a></li>
    {% endif %}
    {% if site.linkedin_username %}
    <li class=twitter>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
        {% include linkedin-icon.svg %}
        <span aria-hidden=false>LinkedIn Profile:</span>
        <span class="username">{{ site.linkedin_username }}</span></a></li>
    {% endif %}
  </ul>
  <section class=copyright>© {{ site.time | date: '%Y' }}</section>
</footer>
