<header class=header>
    <h1 class=site-title>
      <a href='{{ '/' | prepend: site.baseurl }}' rel=home>
        <span aria-hidden='true' class=logo>
          {% include logo.svg %}
        </span>

        <span>{{ site.title }}</span>
      </a>
    </h1>

    <nav>
      <h1 aria-hidden=false>Site Navigation</h1>
      <ul>
        {% for menu_item in site.pages %}
          {% if menu_item.title %}
            {% if menu_item.url != '/404.html' %}
              <li{% if page.url == menu_item.url %} class=current{% endif %}><a class=page-link href="{{ menu_item.url | prepend: site.baseurl | remove: '.html' }}">{% if menu_item.menu_title %}{{ menu_item.menu_title }}{% else %}{{ menu_item.title }}{% endif %}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</header>
