/**
 * Site footer
 */

.footer {
  color: $footer-text-color;
  text-align: center;

  ul {
    margin: 0;
    padding: $header-padding-mobile 0;

    @include media-query($on-tablets) {
      padding-top: $header-padding-tablet;
      padding-bottom: $header-padding-tablet;
    }

    @include media-query($on-desktops) {
      padding-top: $header-padding-desktop;
    }

    li {
      display: inline;

      &:not(:first-child) {

        &:before {
          content: ' |  ';
          margin-right: .5em;
          margin-left: .5em;
        }
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
          color: $link-color;

          svg path {
            fill: $link-color;
          }
        }
      }
    }
  }

  .icon svg path {
    fill: $footer-text-color;
  }
}




/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

    }

    h3 {
        font-size: 26px;

    }

    h4 {
        font-size: 20px;

    }
}
