.github-ribbon {
  display: none;
  height: $github-ribbon-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $github-ribbon-size;

  @include media-query($on-tablets) {
    display: block;
  }

  .inner-ribbon {
    background: $github-ribbon-background-color;
    display: block;
    left: 50%;
    $line-height: 32px;
    line-height: $line-height;
    margin-left: -($github-ribbon-size / 2 + $github-ribbon-size / 4);
    margin-top: -($line-height / 2 + $github-ribbon-size / 4);
    position: relative;
    text-align: center;
    top: 50%;
    transform: rotate(-45deg);
    width: $github-ribbon-size;

    &,
    &:hover {
      color: $github-ribbon-text-color;
      text-decoration: none;
    }

  }

}

.header  {
  background-color: $menu-link-background-color;
  -webkit-tap-highlight-color: transparent;

  .logo,
  .site-title {
    text-align: center;
    width: 100%;

    &:active {
      background-color: $menu-link-active-color;

      @include media-query($on-tablets) {
        background-color: initial;
      }
    }
  }

  .logo {
    display: block;
    margin: 0;
    padding: $header-padding-mobile 0;

    @include media-query($on-tablets) {
      padding-top: $header-padding-tablet;
    }

    @include media-query($on-desktops) {
      padding-top: $header-padding-desktop;
    }
  }

  .site-title {
    display: none;

    @include media-query($on-tablets) {
      display: block;
      font-size: 26px;
      letter-spacing: -1px;
      margin: 0;

      a {
        &,
        &:visited {
          color: $grey-color-dark;
        }

        &:hover {
          color: darken($grey-color-dark, 25%);
          text-decoration: none;
        }
      }
    }
  }

  nav {
    clear: left;
    margin: 0 0 37px;
    width: 100%;

    @include media-query($on-tablets) {
      border-bottom-style: solid;
      margin-bottom: $header-padding-tablet;
      margin-top: $header-padding-tablet;
      padding-bottom: $header-padding-tablet;
    }

    @include media-query($on-desktops) {
      margin-bottom: $header-padding-desktop;
      margin-top: $header-padding-desktop;
    }

    &,
    ul {
      @extend %clearfix;
    }

    ul {
      border-bottom-style: solid;
      list-style: none;
      margin: 0;
      padding: 0;

      @include media-query($on-tablets) {
        border-bottom: 0;
        clear: left;
        float: right;
        position: relative;
        right: 50%;
        width: auto;
      }
    }

    li {
      background-color: $menu-link-background-color;
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0 15px;
      width: 100%;

      @include media-query($on-phones) {
        width: 50%;

        &:nth-child(2n-1) {
          border-right-style: solid;

          @include media-query($on-tablets) {
            border-right: 0;
          }

          &:nth-last-child(2) {
            border-bottom: 0;
          }
        }
      }

      @include media-query($on-tablets) {
        border: 0;
        float: left;
        left: 50%;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        width: auto;

        &:not(:first-child) {
          margin-left: 1em;
        }

        &.current {

          a {
            border-bottom: 1px solid;
          }

          &:nth-child(2n) a {
            border-color: $r-shape04;
          }

          &:nth-child(2n-1) a {
            border-color: $m-shape02;
          }
        }
      }

      &:first-child {
        border-top-style: solid;

        &,
        + li {
          @include media-query($on-phones) {
            border-top-style: solid;
          }

          @include media-query($on-tablets) {
            border-top: 0;
          }
        }
      }

      &:not(:last-child) {
        border-bottom-style: solid;

        @include media-query($on-tablets) {
          border-bottom: 0;
        }
      }

      &:active,
      &.current {
        background-color: $menu-link-active-color;

        @include media-query($on-tablets) {
          background-color: transparent;
        }
      }

      a {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="13px" viewBox="0 0 16 26"><polygon opacity="0.2" points="3,0.25 15.75,13 3,25.75 .75,23.5 11.25,13 .75,2.5"/></svg>');
        background-position: right center;
        background-repeat: no-repeat;
        color: $black;
        display: block;
        font-size: 100%;
        height: $menu-link-height;
        line-height: $menu-link-height;
        padding: 0;
        text-decoration: none;

        @include media-query($on-tablets) {
          background-image: none;
          height: auto;
          line-height: inherit;

          padding: .25em .5em;

          &:active,
          &:hover {
            background-color: darken($menu-link-background-color, 5%);
          }
        }
      }
    }

    &,
    ul,
    li {
      border-color: $menu-link-border-color;
      border-width: 1px;
    }
  }
}
