@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes sparkle {
  from { opacity: 1; }
  to   { opacity: .75; }
}

$logo-width: 36px;

.logo {

  &.fade-in svg > * {
    animation-duration: 750ms; // keep in sync with logo-animation.js
    animation-fill-mode: backwards;
    animation-name: fade-in;
    animation-timing-function: ease-in;
  }

  &:not(.fade-in):hover svg > * {
    animation-direction: alternate-reverse;
    animation-duration: 1000ms;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: sparkle;
    animation-timing-function: ease-in-out;
  }

  svg {
    transition: 250ms;
    vertical-align: middle;
    width: $logo-width;

    > * {
      transition: 500ms;
    }

    &:hover,
    :hover {
      opacity: .9;
    }

    $total-shapes: 20;

    $m-shapes: 7;
    $r-shapes: $total-shapes - $m-shapes;

    $base-delay: 10ms;

    $m-base-delay: $base-delay * $r-shapes;
    $r-base-delay: $base-delay * $m-shapes;

    // $max_delay: $base-delay * $m-shapes * $r-shapes;
    // keep maximum in sync with logo-animation.js

    @mixin get-logo-animation-delay($num, $delay-base) {
      animation-delay: $num * $delay-base;
    }

    // M letter
    .m-shape01 { @include get-logo-animation-delay(01, $m-base-delay); fill: $m-shape01; }
    .m-shape02 { @include get-logo-animation-delay(02, $m-base-delay); fill: $m-shape02; }
    .m-shape03 { @include get-logo-animation-delay(03, $m-base-delay); fill: $m-shape03; }
    .m-shape04 { @include get-logo-animation-delay(04, $m-base-delay); fill: $m-shape04; }
    .m-shape05 { @include get-logo-animation-delay(05, $m-base-delay); fill: $m-shape05; }
    .m-shape06 { @include get-logo-animation-delay(06, $m-base-delay); fill: $m-shape06; }
    .m-shape07 { @include get-logo-animation-delay(07, $m-base-delay); fill: $m-shape07; }

    // R letter
    .r-shape01 { @include get-logo-animation-delay(01, $r-base-delay); fill: $r-shape01; }
    .r-shape02 { @include get-logo-animation-delay(02, $r-base-delay); fill: $r-shape02; }
    .r-shape03 { @include get-logo-animation-delay(03, $r-base-delay); fill: $r-shape03; }
    .r-shape04 { @include get-logo-animation-delay(04, $r-base-delay); fill: $r-shape04; }
    .r-shape05 { @include get-logo-animation-delay(05, $r-base-delay); fill: $r-shape05; }
    .r-shape06 { @include get-logo-animation-delay(06, $r-base-delay); fill: $r-shape06; }
    .r-shape07 { @include get-logo-animation-delay(07, $r-base-delay); fill: $r-shape07; }
    .r-shape08 { @include get-logo-animation-delay(08, $r-base-delay); fill: $r-shape08; }
    .r-shape09 { @include get-logo-animation-delay(09, $r-base-delay); fill: $r-shape09; }
    .r-shape10 { @include get-logo-animation-delay(10, $r-base-delay); fill: $r-shape10; }
    .r-shape11 { @include get-logo-animation-delay(11, $r-base-delay); fill: $r-shape11; }
    .r-shape12 { @include get-logo-animation-delay(12, $r-base-delay); fill: $r-shape12; }
    .r-shape13 { @include get-logo-animation-delay(13, $r-base-delay); fill: $r-shape13; }

  }
}
