@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes sparkle {
  from { opacity: 1; }
  to   { opacity: 0.75; }
}

$logo-width: 36px;

.logo {

  &.fade-in svg > * {
    animation-name: fade-in;
    animation-duration: 750ms; // keep in sync with logo-animation.js
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
  }

  &:not(.fade-in):hover svg > * {
    animation-name: sparkle;
    animation-duration: 1000ms;
    animation-fill-mode: none;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

  svg {
    width: $logo-width;
    vertical-align: middle;
    transition: 250ms;

    > * {
      transition: 500ms;
    }

    &:hover, :hover {
      opacity: 0.9;
    }

    $total_shapes: 20; $m_shapes: 7;
                       $r_shapes: $total_shapes - $m_shapes;

    $base_delay: 10ms; $m_base_delay: $base_delay * $r_shapes;
                       $r_base_delay: $base_delay * $m_shapes;

                       // $max_delay: $base_delay * $m_shapes * $r_shapes;
                       // keep maximum in sync with logo-animation.js

    @mixin get_logo_animation_delay($num, $delay_base) {
      animation-delay: $num * $delay_base;
    }

    // M letter
    .m-shape01 { fill: $m_shape01; @include get_logo_animation_delay( 1,$m_base_delay); }
    .m-shape02 { fill: $m_shape02; @include get_logo_animation_delay( 2,$m_base_delay); }
    .m-shape03 { fill: $m_shape03; @include get_logo_animation_delay( 3,$m_base_delay); }
    .m-shape04 { fill: $m_shape04; @include get_logo_animation_delay( 4,$m_base_delay); }
    .m-shape05 { fill: $m_shape05; @include get_logo_animation_delay( 5,$m_base_delay); }
    .m-shape06 { fill: $m_shape06; @include get_logo_animation_delay( 6,$m_base_delay); }
    .m-shape07 { fill: $m_shape07; @include get_logo_animation_delay( 7,$m_base_delay); }

    // R letter
    .r-shape01 { fill: $r_shape01; @include get_logo_animation_delay( 1,$r_base_delay); }
    .r-shape02 { fill: $r_shape02; @include get_logo_animation_delay( 2,$r_base_delay); }
    .r-shape03 { fill: $r_shape03; @include get_logo_animation_delay( 3,$r_base_delay); }
    .r-shape04 { fill: $r_shape04; @include get_logo_animation_delay( 4,$r_base_delay); }
    .r-shape05 { fill: $r_shape05; @include get_logo_animation_delay( 5,$r_base_delay); }
    .r-shape06 { fill: $r_shape06; @include get_logo_animation_delay( 6,$r_base_delay); }
    .r-shape07 { fill: $r_shape07; @include get_logo_animation_delay( 7,$r_base_delay); }
    .r-shape08 { fill: $r_shape08; @include get_logo_animation_delay( 8,$r_base_delay); }
    .r-shape09 { fill: $r_shape09; @include get_logo_animation_delay( 9,$r_base_delay); }
    .r-shape10 { fill: $r_shape10; @include get_logo_animation_delay(10,$r_base_delay); }
    .r-shape11 { fill: $r_shape11; @include get_logo_animation_delay(11,$r_base_delay); }
    .r-shape12 { fill: $r_shape12; @include get_logo_animation_delay(12,$r_base_delay); }
    .r-shape13 { fill: $r_shape13; @include get_logo_animation_delay(13,$r_base_delay); }

  }
}
