@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes sparkle {
  from { opacity: 1; }
  to   { opacity: 0.75; }
}

$logo-width: 36px;

.logo {
  float: left;
  line-height: 56px;
  margin-right: 1rem;

  &.fade-in svg > * {
    animation-name: fade-in;
    animation-duration: 750ms; // keep in sync with logo-animation.js
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
  }

  &:not(.fade-in):hover svg > * {
    animation-name: sparkle;
    animation-duration: 1000ms;
    animation-fill-mode: none;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

  svg {
    width: $logo-width;
    vertical-align: middle;
    transition: 250ms;

    > * {
      transition: 500ms;
    }

    &:hover, :hover {
      opacity: 0.9;
    }

    $total_shapes: 20; $m_shapes: 7;
                       $r_shapes: $total_shapes - $m_shapes;

    $base_delay: 10ms; $m_base_delay: $base_delay * $r_shapes;
                       $r_base_delay: $base_delay * $m_shapes;

                       // $max_delay: $base_delay * $m_shapes * $r_shapes;
                       // keep maximum in sync with logo-animation.js

    @mixin get_logo_animation_delay($num, $delay_base) {
      animation-delay: $num * $delay_base;
    }

    // R letter
    :nth-child( 1) { @include get_logo_animation_delay( 1,$r_base_delay); }
    :nth-child( 2) { @include get_logo_animation_delay( 2,$r_base_delay); }
    :nth-child( 3) { @include get_logo_animation_delay( 3,$r_base_delay); }
    :nth-child( 4) { @include get_logo_animation_delay( 4,$r_base_delay); }
    :nth-child( 5) { @include get_logo_animation_delay( 5,$r_base_delay); }
    :nth-child( 6) { @include get_logo_animation_delay( 6,$r_base_delay); }
    :nth-child( 7) { @include get_logo_animation_delay( 7,$r_base_delay); }
    :nth-child( 8) { @include get_logo_animation_delay( 8,$r_base_delay); }
    :nth-child( 9) { @include get_logo_animation_delay( 9,$r_base_delay); }
    :nth-child(10) { @include get_logo_animation_delay(10,$r_base_delay); }
    :nth-child(11) { @include get_logo_animation_delay(11,$r_base_delay); }
    :nth-child(12) { @include get_logo_animation_delay(12,$r_base_delay); }
    :nth-child(13) { @include get_logo_animation_delay(13,$r_base_delay); }

    // M letter
    :nth-child(14) { @include get_logo_animation_delay( 7,$m_base_delay); }
    :nth-child(15) { @include get_logo_animation_delay( 6,$m_base_delay); }
    :nth-child(16) { @include get_logo_animation_delay( 5,$m_base_delay); }
    :nth-child(17) { @include get_logo_animation_delay( 4,$m_base_delay); }
    :nth-child(18) { @include get_logo_animation_delay( 3,$m_base_delay); }
    :nth-child(19) { @include get_logo_animation_delay( 2,$m_base_delay); }
    :nth-child(20) { @include get_logo_animation_delay( 1,$m_base_delay); }

  }
}
