// Logo Colors

$r_shape01: #00788C;
$r_shape02: #008477;
$r_shape03: #00B3A3;
$r_shape04: #00AF77;
$r_shape05: #009864;
$r_shape06: #008764;
$r_shape07: #68A667;
$r_shape08: #598350;
$r_shape09: #328C50;
$r_shape10: #00AF8B;
$r_shape11: #00C28B;
$r_shape12: #008E75;
$r_shape13: #009977;
$m_shape07: #003998;
$m_shape06: #000B7E;
$m_shape05: #0087D0;
$m_shape04: #0065C7;
$m_shape03: #0055BB;
$m_shape02: #0098FF;
$m_shape01: #0076EE;
