// Logo Colors

$m_shape01: #0076EE;
$m_shape02: #0098FF;
$m_shape03: #0055BB;
$m_shape04: #0065C7;
$m_shape05: #0087D0;
$m_shape06: #000B7E;
$m_shape07: #003998;

$r_shape01: #00788C;
$r_shape02: #008477;
$r_shape03: #009977;
$r_shape04: #00B3A3;
$r_shape05: #00AF77;
$r_shape06: #009864;
$r_shape07: #00C28B;
$r_shape08: #008764;
$r_shape09: #00788C;
$r_shape10: #008477;
$r_shape11: #00AF8B;
$r_shape12: #00C28B;
$r_shape13: #008E75;
