// Use media queries like this:
//
// @include media-query($on-desktop) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
//

// Mobile-first Media Query

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


// Media Query for Retina Displays

@mixin retina() {
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    @content;
  }
}


// Use clearfix like this:
//
//  div {
//    @extend %clearfix;
//  }
//

%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
