// Basic styling

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @media (prefers-color-scheme: dark) {
    background-color: invert($background-color);
    color: invert($text-color);
  }
}



// Set `margin-bottom` to maintain vertical rhythm

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin: 0;

  &:not(:first-child) {
    margin-top: 1em;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}


// Images

img {
  max-width: 100%;
  vertical-align: middle;
}


// Figures

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


// Lists

ul,
ol {
  margin-left: 1em;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}


// Links

a {
  &,
  &:visited {
    color: $link-color;
  }

  &:hover {
    text-decoration: underline;
  }
}


// Blockquotes

blockquote {
  border-left: 4px solid $grey-color-light;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 1em;

  > :last-child {
    margin-bottom: 0;
  }
}


// Code Formatting

pre,
code {
  background-color: $menu-item-background-color;
  border: 1px solid;
  border-color: $menu-item-border-color;

  @include hyphens(none);

  @media (prefers-color-scheme: dark) {
    background-color: invert($menu-item-background-color);
    border-color: invert($menu-item-border-color);
  }
}

code {
  font-size: .8125em;
  padding: .125em .375em;
  vertical-align: middle;
}

pre {
  padding: .5em 1em;

  code {
    border: 0;
    padding: 0;
  }
}


// Icons

.icon {
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}
