// Basic styling

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  -webkit-text-size-adjust: 100%;
}



// Set `margin-bottom` to maintain vertical rhythm

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


// Images

img {
  max-width: 100%;
  vertical-align: middle;
}


// Figures

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


// Lists

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}


// Links

a {
  &,
  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


// Blockquotes

blockquote {
  border-left: 4px solid $grey-color-light;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}


// Code Formatting

pre,
code {
  background-color: $menu-item-background-color;
  border: 1px solid;
  border-color: $menu-item-border-color;
  border-radius: .25em;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
}

code {
  font-size: .8125em;
  padding: .125em .375em;
  vertical-align: middle;
}

pre {
  overflow-x: scroll;
  padding: 8px 12px;

  code {
    border: 0;
    padding: 0;
  }
}


// Icons

.icon {

  > svg {
    display: inline-block;
    height: 1em;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
