.content {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 2em $padding-mobile;
  width: auto;

  > header h1 {
    color: $page-title-color;
  }

  p {
    font-size: 1.125em;
    @include hyphens(auto);
  }

  > figure {
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;

    @include media-query($on-tablets) {
      margin-left: -3em;
      margin-right: -3em;
    }

    img, pre {
      border-radius: $border-radius;
    }
  }
}

.timeline {
  display: block;
  padding: 0;
  margin-left: 0;
}

.timeline-item {
  display: block;

  .date {
    @include media-query($on-tablets) {
      padding: 1em 0 0;
      padding: 1.75em 2em 1em 0;
    }
  }

  .content {
    display: contents;
    padding: 0 0 1em;

    @include media-query($on-tablets) {
      display: block;
      padding: 1em 0 1em 2em;
    }

    header {
      margin-bottom: 2em;

      *:last {
        margin-bottom: 0;
      }
    }
  }

  @include media-query($on-tablets) {
    display: grid;
    grid-template-columns: 8em 1fr;
  }

  .date {
    @include media-query($on-tablets) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      grid-column: span 1/span 1;

      @media (prefers-color-scheme: dark) {
        border-right-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .content {
    display: block;
    margin: 0;

    @include media-query($on-tablets) {
      grid-column: span 1/span 1;
    }
  }

  .position {
    margin-top: 0;
  }

  .content > header h1 {
    color: inherit;
  }

  h1:has(+ h2) {
    margin-bottom: 0;
  }


  h1 + h2 {
    margin-top: 0;
  }
}

.tag-list {
  display: contents;
}

.tag {
  display: inline-block;
  position: relative;
  list-style: none;
  border-radius: $border-radius;
  padding: 0.25em .5em;
  margin: 0 .5em .5em 0;
  color: invert($text-color);
  background-color: $text-color;

  @media (prefers-color-scheme: dark) {
    color: $text-color;
    background-color: invert($text-color);
  }
}

// Page content

.date {
  color: $grey-color;
}


// Posts

.post-header {
  margin-bottom: 1em;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: 1em;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}


// Portfolio



a  {
  .icon.external-link {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    vertical-align: middle;
  }

  &:hover .icon.external-link {
    transform: translate(.25em,-.25em);
  }
}
