.content {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 ((100% - $content-width) / 2);
  width: auto;

  > header h1 {
    color: $page-title-color;
  }

  p {
    font-size: 1.125em;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }

  .fluid {
    display: block;
    margin-left: (-(100% - $content-width) / 2 / $content-width * 100%);
    width: (100% / $content-width * 100%);

    @include media-query($on-desktops) {
      margin-left: (($max-content-width + (-$fluid-width-on-desktops)) / 2);
      width: $fluid-width-on-desktops;
    }

    img {
      width: 100%;
    }
  }
}

.cv-list {
  display: block;
  padding: 0;
  margin-left: 0;
}

.cv-grid {
  display: block;

  .date {
    padding: 1em 0 0;

    @include media-query($on-tablets) {
      padding: 2em 1em 1em 0;
    }
  }

  .content {
    display: contents;
    padding: 0 0 1em;

    @include media-query($on-tablets) {
      display: block;
      padding: 1em 0 1em 1em;
    }

    header {
      margin-bottom: 1em;
    }
  }

  @include media-query($on-tablets) {
    display: grid;
    grid-template-columns: 10.5em 1fr;
  }

  .date {
    @include media-query($on-tablets) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      grid-column: span 1/span 1;
    }
  }

  .content {
    display: block;
    margin: 0;

    @include media-query($on-tablets) {
      grid-column: span 1/span 1;
    }
  }

  .position {
    margin-top: 0;
  }

  .content > header h1 {
    color: inherit;
  }

  h1:has(+ h2) {
    margin-bottom: 0;
  }


  h1 + h2 {
    margin-top: 0;
  }
}

.skill-list {
  display: contents;
  margin: 0;
  padding: 0;
}

.skill {
  display: inline-block;

  position: relative;
  list-style: none;

  background: $page-title-color;
  border-radius: .25em;
  padding: 0.25em .5em;
  color: white;

  margin: 0 .5em .5em 0;
}

// Page content

.post-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  > li {
    margin-bottom: 1em;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}


// Posts

.post-header {
  margin-bottom: 1em;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: 1em;

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }
}
