// Darkmode Colors

$white: #fff;

.darkmode {
    background-color: #000;

    .logo svg {

      @mixin darkmode_logo_color($color) {
        // fill: rgba($white,round(lightness($color)/1%)/100);
        fill: invert($color);
      }

      // R letter
      .r-shape1 { @include darkmode_logo_color($r_shape01); }
      .r-shape2 { @include darkmode_logo_color($r_shape02); }
      .r-shape3 { @include darkmode_logo_color($r_shape03); }
      .r-shape4 { @include darkmode_logo_color($r_shape04); }
      .r-shape5 { @include darkmode_logo_color($r_shape05); }
      .r-shape6 { @include darkmode_logo_color($r_shape06); }
      .r-shape7 { @include darkmode_logo_color($r_shape07); }
      .r-shape8 { @include darkmode_logo_color($r_shape08); }
      .r-shape9 { @include darkmode_logo_color($r_shape09); }
      .r-shape10{ @include darkmode_logo_color($r_shape10); }
      .r-shape11{ @include darkmode_logo_color($r_shape11); }
      .r-shape12{ @include darkmode_logo_color($r_shape12); }
      .r-shape13{ @include darkmode_logo_color($r_shape13); }

      // M letter
      .m-shape7 { @include darkmode_logo_color($m_shape07); }
      .m-shape6 { @include darkmode_logo_color($m_shape06); }
      .m-shape5 { @include darkmode_logo_color($m_shape05); }
      .m-shape4 { @include darkmode_logo_color($m_shape04); }
      .m-shape3 { @include darkmode_logo_color($m_shape03); }
      .m-shape2 { @include darkmode_logo_color($m_shape02); }
      .m-shape1 { @include darkmode_logo_color($m_shape01); }

    }
}
