// Site footer

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  display: table;
}

.footer {
  color: $footer-text-color;
  display: table-row;
  height: 1px;
  text-align: center;

  ul {
    border-top: 1px solid darken($background-color, 5%);
    margin: $header-padding-mobile 0 0;
    padding: $header-padding-mobile 0;

    @include media-query($on-tablets) {
      margin-top: $header-padding-tablet;
      padding-bottom: $header-padding-tablet;
      padding-top: $header-padding-tablet;
    }

    @include media-query($on-desktops) {
      margin-top: $header-padding-desktop;
    }

    li {
      display: inline-block;
      margin: 0 0 ($header-padding-mobile / 2);
      width: 100%;

      @include media-query($on-phones) {
        margin-bottom: 0;
      }

      @include media-query($on-tablets) {
        width: auto;
      }

      &:not(:first-child) {
        @include media-query($on-phones) {
          margin-top: $header-padding-mobile / 2;
          width: auto;

          &:nth-child(2n)::after {
            content: ' |  ';
          }
        }

        @include media-query($on-tablets) {
          margin-top: 0;
        }
      }

      &::after {
        @include media-query($on-phones) {
          margin-left: .5em;
          margin-right: .5em;
        }
      }

      &:first-child::after {
        @include media-query($on-tablets) {
          content: ' |  ';
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: inherit;

        &:hover {
          color: $link-color;
          text-decoration: none;

          svg path {
            fill: $link-color;
          }
        }

        svg path {
          fill: $footer-text-color;
        }
      }
    }
  }
}
