// Site footer

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

$border-color: darken($background-color, 5%);


.footer {
  color: $footer-text-color;
  text-align: center;
  border-top: 1px solid $border-color;
  margin: $header-padding-mobile 0 0;
  padding: $header-padding-mobile 0;


  @media (prefers-color-scheme: dark) {
    border-color: invert($border-color);
  }

  @include media-query($on-tablets) {
    margin-top: $header-padding-tablet;
    padding-bottom: $header-padding-tablet;
    padding-top: $header-padding-tablet;
  }

  @include media-query($on-desktops) {
    margin-top: $header-padding-desktop;
    padding-top: $header-padding-desktop;
    padding-bottom: $header-padding-desktop;
  }

  .social {
    .icon {
      height: 1.5em;

      @include media-query($on-tablets) {
        height: 1em;
      }
    }

    .username {
      display: none;

      @include media-query($on-tablets) {
        display: initial;
      }
    }

    li {
      display: inline;
      margin-left: .5em;
      margin-right: .5em;

      @include media-query($on-tablets) {
        border-right: 1px solid $border-color;
        margin-left: 0;
        margin-right: 0;
        padding: .25em .5em .25em 0;

        @media (prefers-color-scheme: dark) {
          border-color: invert($border-color);
        }

        &:not(:first-child) {
          padding-left: .5em;
        }
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $link-color;

          svg path {
            fill: $link-color;
          }
        }

        svg path {
          fill: $footer-text-color;
        }
      }
    }
  }

  .social {
    margin: 0;
    padding: 0;

    @include media-query($on-tablets) {
      display: contents;
    }
  }

  .copyright {
    margin-top: 1em;
    padding: .25em 0 .25em .5em;

    @include media-query($on-tablets) {
      margin-top: 0;
      display: inline;
    }
  }
}
