.header {
  background-color: $menu-item-background-color;
  -webkit-tap-highlight-color: transparent;

  @media (prefers-color-scheme: dark) {
    background-color: invert($menu-item-background-color);
  }

  .site-title {
    margin: 0 auto;
    padding: 1em $padding-mobile;
    font-size: 1.5em;

    @include media-query($on-tablets) {
      text-align: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }

    @include media-query($on-desktops) {
      font-size: 2em;
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  .logo {
    margin-right: .5em;

    @include media-query($on-tablets) {
      margin-right: 0;
      display: block;
    }
  }

  nav {
    width: 100%;

    @include media-query($on-tablets) {
      border-bottom-style: solid;
      padding-bottom: $header-padding-tablet;
    }

    .current {
      background-color: darken($white, 10%);

      @media (prefers-color-scheme: dark) {
        background-color: invert(darken($white, 10%));
      }

      @include media-query($on-tablets) {
        background-color: initial;
      }
    }

    &,
    ul {
      @extend %clearfix;
    }

    ul {
      border-bottom-style: solid;
      list-style: none;
      margin: 0;
      padding: 0;

      @include media-query($on-tablets) {
        border-bottom: 0;
        clear: left;
        float: right;
        position: relative;
        right: 50%;
        width: auto;
      }
    }

    li {
      background-color: $menu-item-background-color;
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0 $padding-mobile;
      width: 100%;

      @media (prefers-color-scheme: dark) {
        background-color: invert($menu-item-background-color);
      }

      @include media-query($on-phones) {
        width: 50%;

        &:nth-child(2n-1) {
          border-right-style: solid;

          @include media-query($on-tablets) {
            border-right: 0;
          }

          &:nth-last-child(2) {
            border-bottom: 0;
          }
        }
      }

      @include media-query($on-tablets) {
        border: 0;
        float: left;
        left: 50%;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        width: auto;

        &:not(:first-child) {
          margin-left: 1em;
        }

        &.current {

          a {
            border-bottom: 1px solid;
          }

          &:nth-child(2n) a {
            border-color: $menu-item-border-color-even;
          }

          &:nth-child(2n-1) a {
            border-color: $menu-item-border-color-odd;
          }
        }
      }

      &:first-child {
        border-top-style: solid;

        &,
        + li {
          @include media-query($on-phones) {
            border-top-style: solid;
          }

          @include media-query($on-tablets) {
            border-top: 0;
          }
        }
      }

      &:not(:last-child) {
        border-bottom-style: solid;

        @include media-query($on-tablets) {
          border-bottom: 0;
        }
      }

      a {
        color: $black;
        display: block;
        font-size: 100%;
        height: $menu-item-height;
        line-height: $menu-item-height;
        padding: 0;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
          color: invert($black);
        }

        &:after {
          content: '';
          float: right;
          height: 0.5em;
          width: 0.5em;
          display: inline-block;
          border-right: 2px solid;
          border-top: 2px solid;
          border-color: $black;
          transform: rotate(45deg) translateY(.75em) translateX(.75em);

          @media (prefers-color-scheme: dark) {
            border-color: invert($black);
          }

          @include media-query($on-tablets) {
            display: none;
          }
        }

        @include media-query($on-tablets) {
          height: auto;
          line-height: inherit;

          padding: .25em .5em;

          &:active,
          &:hover {
            background-color: darken($menu-item-background-color, 10%);

            @media (prefers-color-scheme: dark) {
              background-color: invert(darken($menu-item-background-color, 10%));
            }
          }
        }
      }
    }

    &,
    ul,
    li {
      border-color: $menu-item-border-color;
      border-width: 1px;

      @media (prefers-color-scheme: dark) {
        border-color: invert($menu-item-border-color);
      }
    }
  }

  .logo,
  nav li {
    &:active {
      background-color: darken($white, 15%);

      @media (prefers-color-scheme: dark) {
        background-color: invert(darken($white, 15%));
      }

      @include media-query($on-tablets) {
        background-color: initial;
      }
    }
  }
}

.sponsors {
  position: absolute;
  right: 1.25em;
  top: 1.25em;

  box-sizing: border-box;
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  padding: .5em;
  border-color: $menu-item-border-color;
  background-color: $white;

  @media (prefers-color-scheme: dark) {
    border-color: invert($menu-item-border-color);
    background-color: invert($white);
  }

  &, &:hover, &:visited {
   color: inherit;
   text-decoration: none;
  }

  &:hover {
    background-color: darken($white, 15%);


    @media (prefers-color-scheme: dark) {
      background-color: invert(darken($white, 15%));
    }
  }

  svg {
    height: 1em;
    color: $github-sponsors-color;
    fill: currentcolor;
    vertical-align: text-bottom;
    margin-right: .25em;
  }
}
